snippet #! "Shebang header for python scripts" b
#!/usr/bin/env python
# coding: utf-8 
$0
endsnippet

snippet #{ "Folding region begin" b
# {{{ REGION: ${1:region_name}
endsnippet

snippet #} "Folding region end" b
# }}}
endsnippet